version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-hostel
    environment:
      MYSQL_ROOT_PASSWORD: user@123
      MYSQL_DATABASE: hostel
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  app:
    build: .
    container_name: hostel-allocation-app
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      NODE_ENV: production
      PORT: 5000
      DB_HOST: mysql-hostel
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: user@123
      DB_NAME: hostel
    ports:
      - "5000:5000"
    restart: unless-stopped

volumes:
  mysql_data:
